{% extends "layout.html.twig" %}

{% block body %}
<div class="container">
  <div class="row text-center" style="margin-bottom:50px;">
    <div class="col-md-12">

      <form class="form-inline" action="" method="post">

        Trier par

        <select class="form-control" style="margin:auto 10px;">
          <option selected="true" disabled="disabled">Tranche d'âge</option>
          {% for age in ages %}
          <option value="{{ age['id'] }}">{{ age['start'] }} - {{ age['end'] }} ans</option>
          {% endfor %}
        </select>

        <select class="form-control" style="margin:auto 10px;">
          <option selected="true" disabled="disabled">Catégories</option>
          {% for categorie in categories %}
          <option value="{{ categorie['id'] }}">{{ categorie['name'] }}</option>
          {% endfor %}
        </select>

        <select class="form-control" style="margin:auto 10px;">
          <option selected="true" disabled="disabled">Lieux</option>
          {% for lieu in lieux %}
          <option value="{{ lieu['id'] }}">{{ lieu['name'] }}</option>
          {% endfor %}
        </select>

      </form>

    </div>
  </div>


  <div class="row">
    {% for workshop in workshops %}
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="/images/{{ workshop['image'] }}" alt="...">
        <div class="caption">
          <h3>{{ workshop['title'] }}</h3>
          <p>{{ workshop['description'] }}</p>

          <p>{{ workshop['time'] }}</p>

          <div>
            <p class="pull-left">{{ workshop['start'] }} - {{ workshop['end'] }} ans</p>
            <p class="pull-right">{{ workshop['price'] }} €</p>
          </div>

          <br><br>

          <p class="text-center"><a href="{{path('workshop_register_id', {'id': workshop.workshop_id}) }}" class="btn btn-warning" role="button">Inscrire</a></p>
        </div>
      </div>
    </div>

  {% endfor %}
</div>

</div>
{% endblock %}
